.champagne {
    color: #FFF0AD;
}

.cultured {
    color: #f8f8f8;
}

.onyx {
    color: #313638;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

#header {
    background-color: #313638;
    color: #f8f8f8;
    padding: 30px;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 5px 150px rgb(255, 240, 173, 0.75);
}

#header .items {
    display: flex;
    justify-content: space-evenly;
}

#header li {
    list-style: none;
}

#header .items li:hover,
#header .items a:hover {
    color: rgb(255, 240, 173, 0.75);
}

#header li a {
    text-decoration: none;
    color: #f8f8f8;
    font-size: 15px;
    transition: 0.5s ease;
}

/* index */

#hero {
    background-color: #313638;
    color: #f8f8f8;
    padding: 30px;
    background-image: url(img/herobg.png);
    height: 60vh;
    background-repeat: no-repeat;
    background-position: 85% 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero h1 {
    font-size: 50px;
    padding-bottom: 40px;
}

#hero h3 {
    font-style: italic;
    font-weight: 400;
    padding-bottom: 20px;
    color: rgb(255, 240, 173, 0.75);
}

#hero .heroText a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    margin-top: 20px;
    font-size: 20px;
    border: 1px solid #FFF0AD;
    color: #f8f8f8;
    padding: 15px;
    border-radius: 20px;
}

#hero .heroText a:hover {
    color: #FFF0AD;
    transition: 0.5s ease;
}


/* catalogo */

#bannerc {
    background-image: url(img/banner1.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    color: #FFF0AD;
    text-shadow: 20px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

#products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #313638;
}

#products h2 {
    color: #f8f8f8;
    font-weight: 100;
    margin-top: 30px;
}

#products h4 {
    color: #f8f8f8;
    font-weight: 100;
    margin-bottom: 10px;
}

#productsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#productsBox p {
    color: #FFF0AD;
    padding-bottom: 20px;
    font-weight: 100;
    font-size: 15px;
}

#productsBox h3 {
    color: #f8f8f8;
    font-size: 25px;
}

#productsBox img {
    border-radius: 100px;
}





/* map */

#bannerm {
    background-image: url(img/banner2.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    color: #FFF0AD;
    text-shadow: 20px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}


#contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    background-color: #313638;
}

#contact i {
    padding: 15px;
    color:#FFF0AD
}

#contact ul {
    color: #f8f8f8;
}


#contact iframe {
    padding: 15px;
    margin: 15px;
    border-radius: 50px;
}



/* footer */

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #313638;
    height: 30vh;
    box-shadow: 0 5px 150px rgb(255, 240, 173, 0.75);
}

#footer i {
    color: #FFF0AD;
    margin: 20px;
    font-size: 25px;
}

#footer p {
    color: #f8f8f8;
    padding-bottom: 10px;
    font-size: 25px;
}

#footer a:hover,
#footer i:hover {
    color: #f8f8f8;
    transition: 0.5s ease;
}

